# Networking
PORT=   
DB_PORT=

# Server Config
DOMAIN=
PORT=
API_PREFIX=
API_VERSION=

# Database Credentials
DB_USER=
DB_PASSWORD=
DB_NAME=

# Docker Specific (The "Service" name in the network)
DB_HOST=
APP_CONTAINER_NAME=
DB_CONTAINER_NAME=

